
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    overflow: hidden;
}

h2, h3, p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: black;
}

/* loader begin */

@keyframes loading {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    z-index: 10;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;

    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: loading;

    visibility: hidden;
}

/* https://loading.io/css/ */
@keyframes lds {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.lds {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: black;
    animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
}

/* loader end */

.container {
    width: 100%;
    background-color: #F7F7F7;
    font-style: normal;
}

.header {
    position:relative;
    height: 63px;
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255);
    z-index: 1;
}

.header-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.nav-back {
    position: absolute;
    left: 17px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
}

.nav-back-arrow {
    display: block;
    padding: 5px;
    font-size: 20px;
}

.header-logo {
    margin-top: 23px;
    width: 162px;
    height: 28px;
}

.location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background: #EAEAEA;
    z-index: 2;
}

.location-icon {
    font-size: 17px;
}

.location-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.explore {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-title {
    padding: 0 50px 0 50px;
    text-align: center;
}

.explore-text {
    padding: 0 20px 0 20px;
    margin: 12px 0 0 0;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.button-explore {
    margin-top: 27px;
    margin-bottom: 57px;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.button-off {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    transition-property: opacity;
    transition-duration: 0.3s;
}

.button-on {
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.button-off:hover {
    /*background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);*/
    opacity: 0;
}

.button-text {
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.fonctionnement-container {
    background-color: white;
}

.fonctionnement {
    padding: 48px 20px 68px 20px;
    display: flex;
    flex-direction: column;
}

/* https://css-tricks.com/css-counters-custom-list-number-styling/ */

.etapes {
    --width: 24px;
    margin-top: 1px;
    counter-reset: etape-counter;
    list-style: none;
    padding-left: calc(0.5 * var(--width));
}

.etape {
    counter-increment: etape-counter;
    position:relative;
    margin-top: 25px;
    height: 72.38px;
    padding-left: 33px;
    padding-right: 33px;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.etape::before {
    box-sizing: border-box;
    position: absolute;
    left: calc(-0.5 * var(--width));
    width: var(--width);
    height:var(--width);
    content: counter(etape-counter);
    font-weight: 500;
    font-size: 14.1818px;
    padding-top: 2px;
    line-height: calc(var(--width) - 2px);
    text-align: center;
    color: white;
    background: #9356DC;
    border-radius: 50%;
}

.etape-icon {
    width: 40px;
    font-size: 19px;
    color: #7E7E7E;
}

.etape-icon-colored {
    color: #9356DC;
}

.etape-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.restaurants-container {
}

.restaurants {
    padding: 54px 17px 66px 17px;
}

.restaurants-items {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.restaurants-items a {
    display: block;
    position: relative;
}

.restaurant-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.restaurant-item .nouveau {
    position: absolute;
    right: 14px;
    top: 14px;
    padding: 7px 9.63px 6px 9px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #008766;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.restaurant-item img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurant-item .description {
    padding: 13px 25px 16px 13px;
    display: flex;
}

.restaurant-item .description .texts {
    flex-grow: 1;
}

.restaurant-item .description .texts h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.restaurant-item .description .texts p {
    margin-top: 3px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.restaurant-item .description .like {
    margin-top: 3px;
    font-size: 22px;
    position: relative;
}

.like-icon {
    color: white;
    -webkit-text-stroke: 1px rgb(0,0,0);
}

.like-icon-on {
    position: absolute;
    top: 1.5px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px rgb(255,255,255);
    transform: scale(1, 1.16);
}

.like-icon-off {
    background: linear-gradient(193.33deg, #FFFFFF -11.44%, #FFFFFF 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(0,0,0);
    transform: scale(1, 1.16);
    opacity: 1;
    transition: opacity 0.3s;
}

.like-icon-off:hover {
    opacity: 0;
}

.footer {
    padding: 22px 25px 24px 25px;
    display: flex;
    flex-direction: column;
    background: #353535;
}

.footer-company {
    font-family: 'Shrikhand';
    /*font-style: italic;*/
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: white;
}

.footer-links-list {
    margin: 16px 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-links-list-item {
    list-style-type: none;
    font-size: 16px;
    line-height: 19px;
}

.footer-links-list-item i {
    width: 22px;
    font-size: 13px;
    color: #FFFFFF;
}

.footer-links-list-item a {
    color: #FFFFFF;
}

.footer-links-list-item .text {
    font-weight: 400;
}

.footer-links-list-item .text-light {
    font-weight: 300;
}



/************************

restaurant page

*************************/

.restaurant-presentation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.restaurant-image-container {
    position: relative;
}

.restaurant-image {
    width: 100%;
    height: 256px;
    object-fit: cover;
}

.restaurant-image-cover-container{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.restaurant-image-cover {
    height: 39px;
    background-color: #F7F7F7;
    border-top-left-radius: 39px;
    border-top-right-radius: 39px;
}

.menu-background {
}

.menu-container {
}

.menu-container-limit {
}

.restaurant-name-and-like {
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
}

.restaurant-name {
    font-family: 'Shrikhand';
    /*font-style: italic;*/
    font-weight: 400;
    font-size: 28px;
    /*line-height: 41px;*/
}

.restaurant-like {
    font-size: 22px;
    position: relative;
    margin-right: 41px;
}


@keyframes appear {
    0% {
        opacity: 0;
        left: 34px;
    }
    75% {
        opacity: 0;
        left: 34px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

.meal-section {
    position: relative;
    padding-top: 34px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;

    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: appear;

    left: 0px;
    opacity: 1;
}

.delay0 {
    animation-delay: -1.2s;
}

.delay1 {
    animation-delay: -1s;
}

.delay2 {
    animation-delay: -.8s;
}

.meal-type {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.meal-type-border {
    margin-top: 5px;
    width: 40px;
    border-top: 3px solid #99E2D0;
}

.meal-item {
    position: relative;
    height: 69px;
    margin-top: 12px;
    background: white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    overflow: hidden;
}

.meal-item:hover .meal-item-animate {
    right: 0px;
}

.meal-item-animate {
    position: absolute;
    left: 0px;
    top: 0px;
    right: -59px;
    bottom: 0px;
    display: flex;
    transition: right 0.3s;
}

.meal-content {
    min-width: 0px;
    flex-grow: 1;
    padding: 13px 15px 13px 15px;
    display: flex;
    flex-direction: column;
}

.meal-content .title {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.meal-content .addendum-and-price {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 15.0431px;
    line-height: 18px;
}

.meal-item .addendum {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
}

.meal-item .price {
    font-weight: 700;
}

.select-button {
    width: 59px;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-button .icon {
    padding: 3px 3px 3px 3px;
    font-size: 14px;
    color: #99E2D0;
    background-color: white;
    border-radius: 50px;
}

.order-section {
    padding-top: 34px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.order-button {
    padding-left: 49px;
    padding-right: 49px;
}

@media (min-width: 768.02px) {

    .header {
        height: 96px;
    }

    .header-shadow {
        box-shadow: none;
    }

    .header-logo {
        margin-top: 30px;
        width: 200px;
        height: 34px;
    }

    .explore {
        padding-top: 30px;
    }

    .explore-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
    }

    .explore-text {
        margin: 31px 0 3px 0;
    }

    .button-explore {
        margin-bottom: 30px;
    }

    .fonctionnement-container {
        display: flex;
        justify-content: center;
    }

    .fonctionnement {
        max-width: 1080px;
        box-sizing: border-box;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 50px;
        padding-bottom: 35px;
        padding-left: 0px;
        padding-right: 26px;
        flex-grow: 1;
    }

    .etapes {
        margin-top: 2px;
        display: flex;
        gap: 36px;
    }

    .etape {
        width: 230px;
        flex-grow: 1;
    }

    .restaurants-container {
        display: flex;
        justify-content: center;
    }

    .restaurants {
        max-width: 1080px;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-grow: 1;
    }

    .restaurants-items {
        margin-top: 26px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }

    .restaurant-item {
        min-width: 45.3%;
        box-shadow: none;
    }

    /***********

    retaurant page

    ***********/

    .restaurant-presentation {

    }

    .restaurant-image {
        height: 383px;
    }

    .restaurant-image-cover-container{
        display: flex;
        justify-content: center;
    }

    .restaurant-image-cover {
        /*flex-grow: 1;*/
        width: 80%;
        max-width: 1055px;
        height: 45px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
    }

    .menu-background {
        background-color: white;
        display: flex;
        justify-content: center;
    }

    .menu-container {
        /*flex-grow: 1;*/
        width: 80%;
        max-width: 1055px;
        background-color: #F7F7F7;
        display: flex;
        justify-content: center;
    }

    .menu-container-limit {
        max-width: 634px;
        flex-grow: 1;
        /*max-width: */
    }

    .restaurant-name-and-like {
        margin: 0 0 0 0;
        padding-top: 11px;
        display: flex;
        justify-content: center;
        background-color: #F7F7F7;
    }

    .restaurant-like {
        margin-right: 0px;
        margin-left: 25px;
    }
}


@media (min-width: 768.02px) and (max-width: 1054px) {

    .fonctionnement {
        flex-grow: 0;
    }

    .etapes {
        display: block;
    }

    .etape {
        width: 350px;
    }
}


@media (min-width: 885px) {
    .footer {
        padding-bottom: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .footer-company {
        margin: 35px 40px 0 90px;
        order: 2;
    }

    .footer-links-list {
        margin-top: 42px;
        order: 1;
        flex-direction: row;
        gap: 15px;
    }

    .footer-links-list li:nth-child(2) {
        margin-right: 30px;
    }
}
